.mobile-reservation {
background: url(https://bernoulli777.github.io/5-2web.jpg)no-repeat;
background-color:rgb(33, 12, 65);
background-size: 150%;
background-position: center top;
font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-shadow: 0 -1px 0 #000, 0 0 4px #000;
}
.event-header {
background-image: linear-gradient(to bottom, rgb(22, 9, 42) 0%, rgb(26, 8, 51) 100%);
}
.header-mobile__container {
background:linear-gradient(to bottom, rgba(47, 19, 90, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    z-index:0;
}
::selection {
background-color: #dfdcde;
}
.header-mobile__info-btn {
color: #ffffff;
}
.header-mobile__info-box p {
    color: #ffffff;
    opacity: 0.8
}
.header-mobile__event-title {
font-family: 'TTNorms Bold',sans-serif;
font-weight: 800;
color: #ffffff;
}
.switcher__chevron {
border-bottom: 1px solid #ffffff;
border-right: 1px solid #ffffff;
}
.header-mobile__event-title__age-rating {
border: 2px solid #ffffff;
color: #ffffff;
}
.mobile-reservation:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .6);
}
.mobile-reservation .ticket__title {
font-family: 'TTNorms Bold',sans-serif;
font-size: 26px;
font-weight: 800;
color: #ffffff;
}
.mobile-reservation .ticket__text {
font-size: 16px;
font-weight: 400;
color: #ffffff;
opacity: 0.8;
}
.mobile-reservation .ticket-price {
font-size: 26px;
font-weight: 800;
color: #ffffff;
}
.mobile-header-bottom__offer-link-box {
color: #ffffff;
opacity: 0.8;
text-align: center;
}
.mobile-header-bottom a, .mobile-header-bottom .link_blue, .mobile-header-bottom .link_blue:link, mobile-header-bottom .link_blue:visited {
color: #915ae8!important;
}
.input-counter_down:after, .input-counter_down:before, .input-counter_up:after, .input-counter_up:before {
background: #000;
opacity: 0.8;
}
.ticket__quantity input {
font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0em;
}
.event-header_bottom .mobile-order-total__number {
align-items: center;
color: rgb(237, 0, 138);
font-size: 20px;
}
.event-header__link_next {
background: rgb(237, 0, 138);
}
.event-header_bottom .mobile-order-total__amount {
color: #ffffff;
opacity: 0.8;
}
rect.payment-countdown__filled_bg {
fill: rgb(237, 0, 138)
}
.event-header__link_back:after, .event-header__link_back:before {
background: rgb(237, 0, 138);
}
.e-popup__footer {
background-image: linear-gradient(to bottom, rgb(47, 19, 90) 0%, rgb(26, 8, 51) 100%);
}
.mobile-promo-popup .btn_green {
background: rgb(237, 0, 138);
box-shadow: none;
.mobile-promo-popup .btn_green:focus, .mobile-promo-popup .btn_green:hover {
background: rgb(213, 0, 124);
border-color: rgb(190, 0, 110);
}
.mobile-promo-popup .btn_green[disabled], .mobile-promo-popup .btn_green[disabled]:active, .mobile-promo-popup .btn_green[disabled]:focus, .mobile-promo-popup .btn_green[disabled]:hover {
background: rgb(213, 0, 124);
border-color: rgb(190, 0, 110);
box-shadow: none;
}
